{% extends "base.html" %} {% set title = "Our Brothers" %} {% block content %}
<div class="container p-5 text-center" style="max-width:75rem;">
    <h3>Meet the brothers of Psi Upsilon at NJIT!</h3>
    <div class="p-3"></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 justify-content-center align-items-start">
        {% for brother in content.brotherList.brothers %}
        <div class="col">
            <div class="card">
                <img src="{{brother.img.url}}" class="card-img-top brother-img" alt="{{brother.name}}">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{brother.name}}</strong></h5>
                    <em class="card-subtitle">{{brother.title}}</em>
                    <p class="card-text">{{brother.desc}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}