{% extends "base.html" %} {% set title = "Our Brothers" %} {% block content %}
<div class="container p-5 text-center" style="max-width:75rem;">
    <h3>Meet the brothers of Psi Upsilon at NJIT!</h3>
    <div class="p-3"></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 justify-content-center align-items-start">
        {% for brother in content.brotherList.brothers %}
        <div class="col">
            <a tabindex="0" class="btn p-0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="{{brother.name}}" data-bs-content="{{brother.bio}} ">
                <div class="card">
                    <img src="{{brother.img.url}}" class="card-img-top brother-img" [adaptivePosition]="false" alt="{{brother.name}}">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{brother.name}}</strong></h5>
                        {% if brother.title != None %}<em class="card-subtitle">{{brother.title}}</em> {% endif %}
                        <p class="card-text">{{brother.desc}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %} {% block scripts %}
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
    })
</script>
{% endblock %}