{% extends "base.html" %} {% block content %}
<div class="page-wrap d-flex flex-row justify-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">ERROR</span>
                <div class="mb-4 lead">{{e}} </br>Try to refresh the page or contact us if the issue persists</div>
                <a href="/#" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}