{% extends "base.html" %} {% block header %}
<div class="bg-img p-4  d-flex align-items-center justify-content-center text-center" style="
        background-image: url(/static/banners/chapter_banner.jpg);
        background-size: cover;
        height: 35rem;
        background-position: 0% 30%;">
    <h1 style="color: #FFFFFF; font-size: 5rem;">"Unto us has befallen a mighty friendship"</h1>
</div>
{% endblock %} {% block content %}
<div>
    <div class="d-flex align-items-center justify-content-center text-center bg-img p-4" style="
                background-image: url(/static/banners/alumni.jpg);
                background-size: cover;
                height: 60rem;">
        <h1 style="color: #FFFFFF;max-width: 85rem;background-color: rgba(0, 0, 0, 0.664); font-size: 4rem;">"United in friendship, Psi Upsilon members aspire to moral, intellectual and social excellence in themselves as they seek to inspire these values in society."</h1>
    </div>
</div>
{% endblock %}