{% extends "base.html" %} {% block header %}
<div class="bg-img p-4" style="
        background-image: url(/static/banners/chapter_banner.jpg);
        background-size: cover;
        height: 40rem;
        background-position: 0% 30%;">
    <div class="text-center">
        <h1 style="color: #FFFFFF">"Unto us has befallen a mighty friendship"</h1>
    </div>
</div>
{% endblock %} {% block content %}
<div>
    <div class="d-flex align-items-center justify-content-center text-center bg-img p-4" style="
                background-image: url(/static/banners/alumni.jpg);
                background-size: cover;
                height: 60rem;">
        <h1 style="color: #FFFFFF;max-width: 65rem;">"United in friendship, Psi Upsilon members aspire to moral, intellectual and social excellence in themselves as they seek to inspire these values in society."</h1>
    </div>
</div>
{% endblock %}